:root {
    --button-size: 38px;
    --button-separation: 4px;
}

.prototypeListElement {
    box-shadow: none;
    box-sizing: border-box;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    letter-spacing: normal;
    display: flex;
    position: relative;
    align-items: center;
    gap: "8px";
    cursor: pointer;
    transition: 250ms ease-in-out;
    justify-content: space-between;
    border-radius: 5px;
    gap: 4px;
    height: calc(var(--button-separation) * 2 + var(--button-size));
    border: 1px solid transparent;
    border-radius: 6px;
}

.prototypeListElement:hover {
    transform: none;
    color: black;
    box-shadow: none;
}

.prototypeListElement[data-is-selected="true"] {
    border: 1px solid #2d404e;
}

.prototypeListElement_button {
    position: absolute;
    top: var(--button-separation);
    right: var(--button-separation);
    width: var(--button-size);
    height: var(--button-size);
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
}

.prototypeListElement_button:hover {
    transform: none;
    box-shadow: none;
}

.prototypeListElement_buttonBody {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    letter-spacing: normal;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 12px;
    gap: 1rem;
    justify-content: start;
    text-align: left;
    box-shadow: none;
    border-radius: 6px;
}

.prototypeListElement_buttonBody:hover {
    transform: none;
}
