.register__container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-inline: auto;
    align-items: center;
    gap: 3rem;
    padding-block: 5rem;
}

.register__hero-container {
    display: flex;
    flex-direction: column;
}
